{% extends 'aureum/index.html' %}

{% block content %}
    <h3>{{ Statement }} Information</h3>
    <a>In Millions of the reported currency, except per share items.</a>
    <form id='year-submit' method="GET">
      {% csrf_token %}
      <input type="text" class="sliderValue" name = "yearOne" id="year1" data-index="0" value= {{ Curr_Min }}>
      <input type="text" class="sliderValue" name = "yearTwo" id='year2' data-index="1" value= {{ Curr_Max }}>
      <button id='petite'>Submit</button>
      <p></p>
      <div id="slider" style="width: 80%;"></div>
    </form>
    <p></p>
    </div>
    <table>
    {% regroup Datas|dictsort:"year__year" by year__year as Dates %}
      <tr>
        <td>
        </td>
      {% for Date in Dates %}
        <td style="text-align: center; vertical-align: middle;">
        {{ Date.grouper }}
        </td>
      {% endfor %}
      </tr>
      {% regroup Datas|dictsort:"member_position" by member_position as Members %}
        {% for Member in Members %}
        <tr>
          <td>
            <b>
            {{ Member.list.0.member }}
            </b>
          </td>
        </tr>
          {% regroup Member.list|dictsort:"position" by position as Names %}
          {% for Name in Names %}
            <tr>
              <td>
              {{ Name.list.0.standard_name }}
              </td>
              {% for item in Name.list %}
              <td style="text-align: center; vertical-align: middle;">
                {{ item.value }}
               </td>
              {% endfor %}
            </tr>
          {% endfor %}
      {% endfor %}
    </table>
{% endblock %}
