<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Aureum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-->DEFAULT BOOTSTRAP<!-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-->AUTCOMPLETE<!-->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-->OTHER<!-->
  <script>
    var companies = {{ Companies|safe }};
  </script>
  <link rel="stylesheet" href='{% static "css/news.css" %}'>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Aureum</a>
      </div>
      <div class="nav navbar-nav d-lg-flex align-items-center">
        <form class="form-inline mt-2 mt-md-0" action="/information" onsubmit="return mySubmitFunction(event)">
          <input style="width:300px;" class="form-control mr-sm-2" type="text" placeholder="Search SPY Company or Ticker" name="search" id="tags" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-right d-lg-flex align-items-center">
        <li><a href="#">About Us</a></li>
        <li "nav-item h-100" ><a href="#">Contact Us</a></li>
        <li "nav-item h-100" ><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
    <div class="tcontainer sticky-slide"><div class="ticker-wrap"><div class="ticker-move">
      {% for Article in Articles %}
        <div class="ticker-item">{{ Article.title }}</div>
      {% endfor %}
    </div></div></div>
  </nav>

  <p></p>
  <h3 style = 'text-align: center; margin-top:60px;'>Latest News from Around the Web</h3>
  <div class="grid-container">
      <div class="frontpage">
        {% with element=vals|first %} {# can use last here to get the last value #}
            {% for key,value in element.items %}
                {% if forloop.counter == 2 %}  {# or if forloop.first etc. #}
                    <td>{{ value.corr }}</td>
                    <td>{{ value.str }}</td>
                    <td>{{ value.sig }}</td>
                {% endif %}
            {% endfor %}
        {% endwith %}
          <div class="fp-cell fp-cell--1">
              <a class="fp-item" href={{ Articles.0.link }} target="_blank">{{ Articles.0.title }}</a>
          </div>
          <div class="fp-cell fp-cell--2">
              <a class="fp-item" href={{ Articles.1.link }} target="_blank">{{ Articles.1.title }}</a>
          </div>
          <div class="fp-cell fp-cell--3">
              <a class="fp-item" href={{ Articles.2.link }} target="_blank">{{ Articles.2.title }}</a>
          </div>
          <div class="fp-cell fp-cell--4">
            <a class="fp-item" href={{ Articles.3.link }} target="_blank">{{ Articles.3.title }}</a>
          </div>
          <div class="fp-cell fp-cell--5">
            <a class="fp-item" href={{ Articles.4.link }} target="_blank">{{ Articles.4.title }}</a>
          </div>
          <div class="fp-cell fp-cell--5">
            <a class="fp-item" href={{ Articles.5.link }} target="_blank">{{ Articles.5.title }}</a>
          </div>
          <div class="fp-hold fp-cell--6 sticky">
            <h4 style='text-align: center;'>Indeces</h4>
          </div>
          {% for Article in Articles %}
            {% if Article.title != Articles.5.title %}
              {% if Article.title != Articles.4.title %}
                {% if Article.title != Articles.3.title %}
                  {% if Article.title != Articles.2.title %}
                    {% if Article.title != Articles.1.title %}
                      {% if Article.title != Articles.0.title %}
                        <div class="fp-cell fp-cell--7"> <a class="fp-item" href={{ Article.link }} target="_blank">{{ Article.title }}</a> </div>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
      </div>
  </div>
  <script type="text/javascript" src='{% static "js/bootauto.js" %}'></script>
  <script type="text/javascript" src='{% static "js/autocomplete.js" %}'></script>
</body>
</html>
