<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Aureum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-->DEFAULT BOOTSTRAP<!-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-->AUTCOMPLETE<!-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-->OTHER<!-->
    <script type="text/javascript" src='{% static "js/java.js" %}'></script>
    <script type="text/javascript" src='{% static "js/popup.js" %}'></script>
    <script>
      var max_year = "{{ Max }}";
      var min_year = "{{ Min }}";
      var curr_max_year = "{{ Curr_Max }}";
      var curr_min_year = "{{ Curr_Min }}";
      var companies = {{ Companies|safe }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <link rel="stylesheet" href='{% static "css/popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/news.css" %}'>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Aureum</a>
        </div>
        <div class="nav navbar-nav d-lg-flex align-items-center">
          <form class="form-inline mt-2 mt-md-0" action="/information" onsubmit="return mySubmitFunction(event)">
            <input style="width:300px;" class="form-control mr-sm-2" type="text" placeholder="Search SPY Company or Ticker" name="search" id="tags" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        <ul class="nav navbar-nav navbar-right d-lg-flex align-items-center">
          <li><a href="#">About Us</a></li>
          <li "nav-item h-100" ><a href="#">Contact Us</a></li>
          <li "nav-item h-100" ><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <h3 style = 'margin-top:50px;'>{{ Company }}</h3>
    <div class="tab" id='tab'>
      <button onclick="location.href='/information';">Company Information</button>
      <button onclick="location.href='/income';">Income Statement</button>
      <button onclick="location.href='/balance';">Balance Sheet</button>
      <button onclick="location.href='/cash';">Cash Flow Statement</button>
    </div>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src='{% static "js/bootauto.js" %}'></script>
    <script type="text/javascript" src='{% static "js/autocomplete.js" %}'></script>
  </body>
</html>
