{% extends 'aureum/index.html' %}

{% block content %}
  <div class = 'main-fin'>
    <h3>{{ Statement }} Information</h3>
    <p>In Millions of the reported currency, except per share items.</p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Display Options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Annual</a>
        <a class="dropdown-item" href="/quarter">Quarter</a>
      </div>
    </div>
    <p></p>
    <form id='year-submit' method="GET">
      {% csrf_token %}
      <input type="text" class="sliderValue" name = "yearOne" id="year1" data-index="0" value= {{ Curr_Min }}>
      <input type="text" class="sliderValue" name = "yearTwo" id='year2' data-index="1" value= {{ Curr_Max }}>
      <button id='petite'>Submit</button>
      <p></p>
      <div id="slider" style="width: 80%;"></div>
    </form>
    <p></p>
    <table class="table table-striped">
      <tr class="text-white">
        <th style = 'background-color: #2F586E;text-align: center; vertical-align: middle;'>
          For the Fiscal Period
        </th>
      {% for Quarter in Quarters %}
        <th style = 'background-color: #2F586E;text-align: center; vertical-align: middle;'>
          <b>
        {{ Quarter.year__year }} {{ Quarter.quarter }}
          </b>
        </th>
      {% endfor %}
      {% regroup Datas|dictsort:"member_position" by member_position as Members %}
        {% for Member in Members %}
        <tr class="bg-dark text-white">
          <td colspan="100">
            <b>
            {{ Member.list.0.member }}
            </b>
          </td>
        </tr>
          {% regroup Member.list|dictsort:"position" by position as Names %}
          {% for Name in Names %}
            <tr>
              <td>
              {{ Name.list.0.standard_name }}
              </td>
              {% for item in Name.list|dictsort:"order" %}
              <td style="text-align: center; vertical-align: middle;">
                {{ item.value }}
              </td>
              {% endfor %}
            </tr>
          {% endfor %}
      {% endfor %}
    </table>
  </div>
{% endblock %}
